@model GT.BuddyUp.WebApp.Models.CourseUser
<div class="editorRow">
    @using (Html.BeginCollectionItem("users"))
    {
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <table>
            <tr>
                <td>
                    <div class="input-group">
                        @Html.LabelFor(model => model.emailId, htmlAttributes: new { @class = "input-group-addon" })
                        @Html.EditorFor(model => model.emailId, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.emailId, "", new { @class = "text-danger" })
                    </div>
                </td>
                <td>
                    <div class="input-group">
                        @Html.LabelFor(model => model.role, htmlAttributes: new { @class = "input-group-addon" })
                        @Html.EnumDropDownListFor(model => model.role, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.role, "", new { @class = "text-danger" })
                    </div>
                </td>
                <td>
                    <a href="#" class="deleteRow">delete</a>
                </td>
            </tr>
        </table>
    }
</div>